@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

a,
li{
    text-decoration: none;
    list-style: none;
    color: black;
}
ul{
    padding: 0px;
}

a:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* topbar  */

header{
    position: sticky;
    top: 0px;
    z-index: 3000;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.mobile_topbar{
    display: flex;
    justify-content: space-between;
    // background-color: #fafafa;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    .mobile_contact{
        a{  
            padding: 0px 20px;
            border-right: 2px solid black;
        }
        a:hover{
            color: #2a73cc;
        }
    }
    
    .mobile_links{
        a:hover{
            color: #2a73cc;

        }
    ul{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        li{
            padding-right: 20px ;
        }
    }
 }
}

.menu_burger{
    display: none;
}

.topbar_search{
    display: none;
}

.top_bar{

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
    margin-bottom: 0;
    padding: 20px 0 20px 0;


    ul{
        margin: 0;
    }

    a,
    li {
        color: #000;
    }
    
    .company_logo{
        font-size: 18px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        li{
            margin-left: 5px;
        }
        img{
            height: 45px;
        }
        #logo{
            color: #2a73cc;
        }
    }
}

    .topbar_sear {
        flex: 1;
        text-align: center;
        
        input{
            width: 90%;
            border: none;
            border: 1px solid #2a73cc;
            
            border-radius: 3px;
            padding: 9px;
        }
        .nav_search{
            background-color: #2a73cc ;
            // background-color: #a5f1f6;
            color: white;
            padding: 8px 15px;
            border-radius: 3px;
            margin-left: -53px;

        }
    }

    .cart_container {

        .top_login {

            a {
                color: #000;
                border-radius: 3px;
                padding: 5px 10px;
            }

            a:hover{
                background-color: white;
                color: black;
                border: 1px solid #2a73cc ;
            }
        }
    }



nav{
    height: 53px;
    margin-top: 0;
    background-color: #2a73cc;

    // background: linear-gradient(45deg,#074da2, #0186ce);
    // border: 1px solid #0186ce ;
    // background-color: #86c5d8;
    // background-color: #fafafa;
    font-size: 16px;


    a{
        line-height: 53px;
        // color: #0186ce;
        color: white;
        padding: 5px 10px;
        // border: 1px solid black;
      
    }

    a:hover{
        background-color: white;
        border-radius: 3px;
    }

    .nav_bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        color: white;
        margin: 0;

        input {
            margin: 5px 0;
            border: none;
            padding: 4.5px 0;
            width: 265px;
            font-size: 14px;
            text-align: center;
            
        }
        .nav_search{
            margin-left: -5px;
            background-color: #f04349;
            padding: 6px;
        }
    }

}

// product page 
// aside 

aside {
    
    .aside_header {
        padding: 10px;
        margin-top: 20px;
        // background: linear-gradient(45deg,#074da2, #0186ce);
        border: 1px solid #0186ce;
        color: #0186ce;
    }
    .aside_header:hover{
        background-color: #074da2;
        color: white;
        border: none;
    }

    .aside_drop {
        padding: 10px;
        color: #6d6d6f;
        border-bottom: 1px solid #6d6d6f;
        display: flex;
        justify-content: space-between;

        span:nth-child(2) {
            color: #0186ce;
            cursor: pointer;
         }
    }

    .dropicon{
        cursor: pointer;
        color: #0186ce;
    }

    .aside_list {
        padding: 4px;
        padding-left: 25px;
        border-bottom: 1px solid #6d6d6f;
        display: flex;
        justify-content: space-between;    
    }

    .aside_drop1 {
        padding: 10px;
        border-bottom: 1px solid;
        border-image-source: linear-gradient(45deg,#074da2, #0186ce);
        border-image-slice: 1;
        color:#6d6d6f;
        display: flex;
        justify-content: space-between;

        span:nth-child(2) {
            color: #0186ce;
            cursor: pointer;
         }
    } 


}

// breadcrum

.bread{
    display: flex;
    padding: 10px;
    // background-color: grey;
    margin-top: 20px;
    // margin-bottom: 35px;
    

     li{
         margin: 0px 10px;
     }
     a{
        color: #6d6d6f;
     }
     border-bottom: 1px solid grey;
}

.book_filter{
    
    display: none;
}

// main 

.book_list{
    font-size: 14px;
    margin: 20px 10px 40px 10px;

    .book_img { 
        text-align: center;

    }
    .book_price {
        
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        color: #6d6d6f;

        span{
            color: #074da2;
        }
    }

    .book_description {
        text-align: center;
        margin-top: 7px;
        line-height: 17px;
        color: #6d6d6f;

    }

    .book_button {
        
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-top: 12px;

        // .btn_explore {
        //     border: 1px solid black;
        //     line-height: 2em;
        //     padding: 0px 1em;
        // }
        .btn_like {
            color: #0186ce;
            font-size: 20px;
            
        }
        .btn_like:hover{
            color: #074da2;
        }
        .btn_addcart {

            background-color: white;
            text-align: center;
            border-radius: 2px;
            color: #0186ce;
            padding: 7px;
            border: 1px solid #0186ce;
            
        }
        .btn_addcart:hover{
            background-color: #074da2;
            color: white;
        }

    }
}

// banner 

.banner {
    background: linear-gradient(45deg, #074da2, #008fd5);
    padding: 40px 0;

    .banner_heading1 {
        font-size: 2em;
        color: white;
    }
    .banner_heading2 {
        font-size: 2em;
        color: white;
    }
    .banner_discription {
        color: white;
        margin-top: 10px;
    }
    .banner_btn {
        margin-top: 30px;

        a{
            border: 1px solid white;
            border-radius: 5px;
            padding: 10px 25px;
            color: white;
        }
        a:hover{
            background-color: #008cd3;
            color: white;
            border-color: white;
        }
           
    }


    .qr_code {
        text-align: center;
    }

    .qr_download {
        color: white;
        font-size: 1.5em;
        text-align: center;
    }
    .badge {
        display: flex;
        justify-content: center;

        img {
            width: 150px;
        }
        .google_play{
            height: 70px;
            margin-top: -4px;
            width: 170px;
        }
    }
}

// follow

.payment_method {
    background-color: white;
    padding: 20px 0;
    .payment{
        text-align: center;
        border-right: 2px solid #6d6d6f;
        .payment_header {
            font-size: 1.5em;
            padding: 0px 0 55px 0;
            margin-top: 30px;
        }
        .payment_links{
            display: flex;
            justify-content: space-around;
    
        .links_logo img{
            width: 100px;
        }

        }
    }
    
    .follow {
        border-right: 2px solid #6d6d6f;
        .follow_header{
            text-align: center;
            font-size: 1.5em;
            text-align: center;
            padding: 0px 0 55px 0;
            margin-top: 30px;
            line-height: 30px;
        }
    
        .follow_links{
            display: flex;
            justify-content: space-around;
            padding: 0;
    
            a{
                color: #008fd5;
                font-size: 20px;
            }
            a:hover{
                color: #074da2;
            }
        }
    }

    .subscribe_us{
        .subscribe_header{
            font-size: 1.5em;
            text-align: center;
            padding: 0px 0 55px 0;
            margin-top: 30px;
            line-height: 30px;
        }
        .email_us{
            display: flex;
            justify-content: center;

            input{
                border: none;
                border-bottom: 1px solid #6d6d6f;
                margin-bottom: 30px;

            }
            .input_email:focus{
                outline: none;
            }
            .subscribe_btn{
                
                a{
                    color: #0186ce;
                    border: 1px solid  #0186ce;
                    border-radius: 5px;
                    padding: 10px 20px;
                    margin-left: 10px;
                }    
                a:hover{
                    background-color: #074da2;
                    color: white;
                }  
            }
        }
    }    
}

// footer 

footer{
    background-color: #fafafc;
    font-size: 14px;

    .footer_logo{
        img{
            height: 75px;
        }
    }

    .footer_box{
        padding-top: 25px;
    }

    .footer_header{
        font-weight: bold;
        margin-bottom: 10px;
    }

    .footer_list{
        line-height: 35px;
    }


    .footer_copyright{
        // display: flex;
        // justify-content: space-between;
        // background-color: #074da2;
        color: #000;
        line-height: 40px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 14px;
        
    }
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    // background: linear-gradient(to bottom, #074da2, #008fd5); 
    background-color: #fafafa;

    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    // opacity: 0.97;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    color: #0186ce;
    display: block;
    transition: 0.3s;
    // border-bottom: 1px solid #0186ce;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #074da2;
    
    // border-radius: 3px;
    background-color: white;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0;
  }



//  books_video Page 

.books_video_container{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    text-align: center;
    padding:40px 0px 30px 0;
    background-color: white;
    margin-top: 30px;
    
    .nav{
        display: flex;
        justify-content: space-around;
        border: none;
       
        a{
            border: none;
            // background-color: #fafafa;
        }
        a.active{
            border-bottom: 2px solid #6d6d6f;
        }
    }
}

.book_list_container{
    padding: 40px 10px;
    background-color: white;
    margin-bottom: 30px;
    .book_list_title{
        font-size: 16px;
        color: #074da2;
        border-bottom: 1px solid #6d6d6f;
        display: inline-block;
    }
    .book_list_list{
        font-size: 14px;
        padding: 10px 0px 20px 0px;
    }
}



// index page 

#index_page{

    .index_banner_container{
        color: white;
        position: relative;

        .index_banner_text_container{
            margin-left: 100px;
            max-width: 560px;
            padding: 100px 20px;
            position: relative;
            width: 100%;
            z-index: 3;
            div:nth-child(1){
                font-weight: 700;
                font-size: 40px;
                line-height: 52px;
                margin-bottom: 13px;
                
            }
            div:nth-child(2){
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 33px;
            }
            a{
                font-weight: 700;
                background-color: #ffffff;
                border-radius: 2px;
                border: 0 solid transparent;
                color: #2a73cc;
                font-size: 20px;
                outline: none;
                padding: 15px 70px;
                transition: background-color .2s
            }
            a:hover{
                background-color: #2a73cc;
                color: #fff ;
            }
        }
        .index_banner_background_gradient{
            background: linear-gradient(90deg,#271066,rgba(39,16,102,0) 85%,rgba(39,16,102,0) 0,#271066);
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 2;
        }
        .index_banner_background_image{
            background-image: url(../img/abc.jpg);
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            width: 100%;
            background-size: cover;
            z-index: 1;
        }
    }

    @media screen and (max-width: 991px){

        .index_banner_container{
            .index_banner_text_container{
                margin: 0 auto;
                // padding: 60px 20px 45px;
                text-align: center;
                div:nth-child(2){
                    font-size: 16px;
                }
            }
        }
    }


.programs_container{
    text-align: center;
    font-size: 12px;
    padding: 20px;
    padding-bottom: 40px;
    background-color: white;
}
.programs{

    text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
    .programs_header{
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
        border-bottom: 1px solid #6d6d6f; ;
        padding-bottom: 20px;
        // span{
            // display: inline-block;
            // border-bottom: 1px solid black ;
            // padding-bottom: 10px;
        // }
    }
    .programs_discription{
        font-size: 12px;
        padding: 10px 50px;
        color: black;
    }

}

.book_container{
    border-right: 2px solid #6d6d6f;
}
        
    .book_container_title{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .book_container_text{
        color: #6d6d6f;
        margin-bottom: 20px;
    }
    .book_container_btn{
        a{
            padding: 7px 20px;
            border: 1px solid #0186ce;
            border-radius: 3px;
            color: #0186ce;
        }
        a:hover{
            color: white;
            // border-color: #074da2;
            // background-color: #0186ce;
            background-color:#074da2 ;
        }
    }



.categories_banner{
    background-image: url("../img/category.jpg");
    background-size: cover;
    // background-position: center; 
    // background-repeat: no-repeat;
    // height: 50vh;

    .categories_box_container{

        .categories_box_cont{
            padding-bottom: 40px;
        }
        
        .categories_box{
            position: relative;
            // text-align: center;
            // background-color: white;
            // color: #000;
            // font-weight: bold;
            box-shadow: 0px 0px 10px #e9e7e7;
            border-radius: 10px;
  
            height: 200px;
            margin-bottom: 30px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
          
        }
    }
}

.studentsview_container{
    padding-top: 60px;
    background-color: white;
    padding-bottom: 1px;
    .studentsview_header{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 20px;;
    }
}

.testimonials_container{
    background-color: #f9f9fb;
    text-align: center;
    padding: 20px 0px;

    .studentsview_header{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    }

    .testimonial_image{
        margin-bottom: 10px;
        img{
            border-radius: 50%;
            height: 200px;
            width: 200px;
            object-fit: cover;
        }
    }
    .testimonial_bio{
        color: #6d6d6f;
        margin: 0 20%;

    }

    .testimonial_name{
        font-size: 30px;
        text-transform: initial;
        line-height: 25px;
        margin-top: 10px;
        // margin-bottom: -8px;
    }
    .testimonial_title{
        color: #6d6d6f;
    }
}

}

// slick 

.slick-prev:before,
.slick-next:before {
    color: #074da2; 
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #074da2;
    // font-size: 12px;
}
.slick-slide{
    img{
        display: initial;
    }
}

// my_account

.myaccount_body{
    background-color: #ffffff;
}

.my_account_header_cont{
    background-color: #0186ce;
    text-align: center;
    color: white;
    padding: 10px 0;

    .my_account_header{
        font-size: 30px;
        margin-bottom: 5px;
    }

    .myaccount_bread{
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-bottom: 5px;
        div{
            padding: 0 5px;
        }
    }
}

.myaccount_tab_header{
    border-bottom: 1px solid #6d6d6f;;
    color: white !important;
    margin-top: 20px;

    #pills-tab{
        margin: 0 !important;
        a{
           padding: 12px 18px;
            border-radius: 0px;
            color:  #53565a;
            font-size: 14px;
        }
        a.active{
            color: black;
            background-color: white;
            border-bottom: 2px solid #074da2;
            
            font-weight: bold;
        }
        a:hover{
            border-bottom: 2px solid #074da2;
            color: black;
            // transition: all .4s ease;
        }
    }
    .nav-pills .nav-link.active{
        background-color: none;
    }
}

.myaccount_dashboard_header{
    font-size: 14px;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px 10px;
    
    span{
        font-weight: bold;
    }
    a{
        border-bottom: 1px solid #c7c7c7;
    }
}

.dashboard_box_container {

    margin-top: 40px;

    .dashboard_box{
        text-align: center;
        border: 1px solid rgba(136,136,136,.12);
        padding: 10px 0px;
        text-transform: uppercase;
        color: rgba(71,71,71,.8);
        font-size: 14px;
        margin-bottom: 15px;
    }
    .dashboard_box:hover{
        background-color: #f9f9f9;
    }
  
    .dashboard_box_icon{
        font-size: 50px;
        color: #d0d0d0;
    }
    .dashboard_box_icon:hover{
        color: #0186ce;
    }

}


//single book


    .singlebook_container{
        background-color: white;
        padding: 20px 20px;
        margin: 0px;
        margin-bottom: 20px;
    }




.singlebook_image{

  .singlebook_image_cont{
    overflow: hidden;
    height: 330px;
    width: 330px;
    text-align: center;

    img{
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
    }
  }

}

.singlebook_multi_image_cont{

    width: 52px;
    height: 52px;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    border: 1px solid #dadada;
    border-radius: 2px;
    text-align: center;

    img{
        width: auto;
        height: auto;
        max-width: 50px;
        max-height: 50px;
        margin: auto;
    }
}

.singlebook_detail{
    margin-left: 20px;
    .singlebook_title{
        font-size: 22px;
        font-weight: normal;
        margin-bottom: 10px;
    }
    .singlebook_author{
        color: #6d6d6f;
        margin-bottom: 20px;
        text-transform: initial;
        font-size: 12px;
    }
    .singlebook_description{
        color: #6d6d6f;
        margin-bottom: 40px;
    }
    .singlebook_price{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 60px;
        color: #074da2;
        border-bottom: 1px solid #6d6d6f;;
    }

    .singlebook_btn{
        a{
            border-radius: 5px;
            padding: 10px 20px;
            margin-right: 20px;
            border: 1px solid #0186ce;
            color: #0186ce;
            cursor: pointer;
            transition: all .3s ease-out;
        }
        a:hover{
            background-color: #074da2;
            color: white;
        }
    }
}














// media 

@media screen and (max-width:768px){

    body{
        font-size: 12px;
    }
    nav {
        display: none;
    }

    .bread_container{
        display: none;
    }
    .links_container{
        display: none;
    }
    

    .top_bar{
        padding-top: 10px;
    }

    .topbar_sear{
        display: none;
    }
    .topbar_search {
        display: block;
        text-align: center;
        padding: 10px;
        input{
            padding: 8px;
            width: 95%;
            border: none;
            border: 1px solid #074da2;
            border-radius: 3px;
            // margin-right: -36px;
        }
        .nav_search{
            background-color: #074da2 ;
            color: white;
            padding: 7px 15px;
            border-radius: 3px;
            margin-left: -50px;
        }
    }

    .cart_container{   
        a{
            font-size: 20px;
        }
       
            .cart_hid{
                display: none;
            }
    }

    .menu_burger{
        display: block;
        font-size: 18px;
        i{
            color: #074da2;
        }
        a:hover{
            color: #074da2;

        }

    }

    .asider{
        display: none;
    }

    .book_filter{
        display: block;
            margin-top: 15px;
            justify-content: space-between;
            .filter_title{
                a{
                    padding: 5px;
                    color: #018ad1;
                    border-radius: 5px;
                    border: 1px solid #018ad1;
                    // background: linear-gradient(45deg,#ec2c43, #f5921d);
    
                }

                a:hover{
                    color: #074da2;
                    border-color: #074da2;
                   
                }
                    
            }

    }


    .book_list{
        font-size: 12px;
        .book_button {
            font-size: 10px;
    
    }
    }

    .banner{
        .badge{
            display: block;
            .google_play{
                    margin-left: -10px;     
            }
        }
    }

    .payment_method {
        

        .payment{
            border-right:none;
            border-bottom: 2px solid #6d6d6f;
        }
        .follow{
            border-right:none;
            border-bottom: 2px solid #6d6d6f;
        }
        .payment_links{
            margin-bottom: 10px;
        }

    }

    footer{
            .footer_logo{
                text-align: center;
                margin-bottom: 20px;
            }

            #footer_list_category{
                display: none;
            }
    }


    //home page

    .banner_image{
        height: 100%;
        div{
            font-size: 30px;
        }
    }
    
}


// single page 

#single_page{

    .banner_container{
        color: white;
        position: relative;
        // height: 60vh;

        .text_container{
            margin-left: 100px;
            max-width: 560px;
            padding: 140px 20px;
            position: relative;
            width: 100%;
            z-index: 3;
            div:nth-child(1){
                font-weight: 700;
                font-size: 40px;
                line-height: 52px;
                margin-bottom: 13px;
                
            }
            div:nth-child(2){
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 33px;
            }
            a{
                font-weight: 700;
                background-color: #ffffff;
                border-radius: 2px;
                border: 0 solid transparent;
                color: #2a73cc;
                font-size: 20px;
                outline: none;
                padding: 15px 50px;
                transition: background-color .2s
            }
            a:hover{
                background-color: #2a73cc;
                color: #fff ;
            }
        }
        .background_gradient{
            // background: linear-gradient(90deg,#271066,rgba(39,16,102,0) 85%,rgba(39,16,102,0) 0,#271066);
            background: linear-gradient(90deg,#000,rgba(0,0,0,.85),rgba(0,0,0,.825),rgba(0,0,0,.75),transparent);
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 2;
        }
        .background_image_container{
            background-image: url(../img/abc.jpg);
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            width: 100%;
            background-size: cover;
            z-index: 1;
        }
    }

    @media screen and (max-width: 991px){

        .banner_container{
            // height: 60vh;
            .text_container{


                margin: 0 auto;
                padding: 40px 20px 70px;
                // text-align: center;
                div:nth-child(2){
                    font-size: 16px;
                }
                a{
                    font-size: 16px;
                    padding: 12px 40px;
                }
            }   
        }
    }

    .course_container{
        padding: 20px 0px;
        background-color: #f4f6f8;
        .course_content_container{
           
            .course_content_header{
                font-size: 20px;
                border-bottom: 1px solid rgba(34,36,38,.15);
                margin-bottom: 20px ;
                padding-bottom: 5px;
                font-weight: bold;
            }
            .course_module_container{
                padding: 30px;
                background-color: white;
                box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
                border: 1px solid rgba(34,36,38,.15);
                border-radius: 5px;
                .module_header{
                    font-size: 18px;
                    margin-bottom: 15px;
                }
                .module_list{
                    font-size: 16px;
                    margin-bottom: 40px;
                    
                    a{
                        display: flex;
                        justify-content: space-between;
                        padding: 5px 0px;
                        border-bottom: 1px solid rgba(34,36,38,.15);
                        color: #6d6d6f;
                        i{
                            margin-right: 10px;
                            font-size: 13px;;
                        }
                    }
                }
            }
        }
    }

}
