@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #647b9c;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: #647b9c;
  //   color: #ffffff;
}
ul {
  padding: 0px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
    color: #008fd5;
}

/* topbar  */

header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mobile_topbar {
  line-height: 25px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  background-color: #008fd5;
  .topbar {
    display: flex;
    justify-content: space-between;

    .mobile_contact {
      a {
        padding-left: 40px;
        // color: #2d3954;
        color: #ffffff;
        margin-right: 5px;
        i {
          padding: 0px 5px;
          //   color: #f04f23;
          color: #034ea2;
        }
      }
      a:hover {
        // color: #00ba74;
        color: #034ea2;
      }
      span {
        // color: #647b9c;
        color: #ffffff;
      }
    }

    .mobile_links {
      a:hover {
        color: #034ea2;
        // color: #f04f23;
      }
      ul {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;

        li:nth-child(5) {
          padding-right: 50px;
        }
        li {
          padding-right: 20px;
          a {
            color: #ffffff;
          }
        }
      }
    }
  }
}

.menu_burger {
  display: none;
}

.top_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  padding: 15px 0px;

  ul {
    margin: 0;
  }

  a,
  li {
    color: #000;
  }

  .company_logo {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 5px;
    }
    img {
      height: 100px;
    }
    #logo {
      color: #00ba74;
      background: rgba(0, 173, 182, 0.1);
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #00ba74;
    }
  }
  .topbar_sear {
    flex: 1;
    text-align: center;

    input {
      width: 80%;
      border: none;
      border: 1px solid rgba(100, 123, 156, 0.3);
      border-radius: 3px;
      padding: 9px;
    }
    input:focus {
      outline: none;
    }
    .nav_search {
      //   background-color: #00ba74;
      background-color: #034ea2;
      color: white;
      padding: 8px 15px;
      border-radius: 3px;
      margin-left: -53px;
    }
  }
  .cart_container {
    .top_login {
      a {
        color: #000;
        border-radius: 3px;
        padding: 7px 15px;
        border: 1px solid rgba(100, 123, 156, 0.3);
        margin-right: 15px;
      }

      a:hover {
        color: white;
        background-color: #008fd5;
      }
      .singup {
        background-color: #00ba74;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}

.modal {
  font-size: 14px;
  .modal-title {
    color: #2d3954;
    margin-left: 195px;
  }
  .form-group {
    .form-control {
      height: 54px;
      border-radius: 4px;
      font-size: 14px;
      box-shadow: none;
      padding: 8px 12px;
      border: 1px solid #e6eaf3;
      background-clip: initial;
    }
    .signin {
      width: 100%;
      background-color: #00ba74;
      color: #ffffff;
      padding: 10px 12px;
      margin: 16px 0px;
    }
  }
  .social-login {
    input[type="checkbox"] {
      vertical-align: middle;
      width: 25px;
      height: 25px;
      // background:white;
      border-radius: 5px;
      border: 2px solid #555;
    }
    ul {
      display: flex;
      justify-content: space-between;
    }
    .forget_password {
      a {
        color: #da0b4e;
      }
    }
  }
  .modal-footer {
    justify-content: center;
    font-size: 13px;
    .no_account {
      a {
        color: #da0b4e;
      }
    }
  }
}

nav {
  position: sticky;
  top: 0px;
  z-index: 100;

  margin-top: 0;
  background: #fff;
  font-size: 16px;
  border-top: 1px solid #dcdacb;
  background: #fbfbf8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  //   border-top: 1px solid #e8e8e8;
  a {
    line-height: 45px;
    padding: 5px 10px;
    color: #2d3954;
    font-weight: 600;
    font-size: 15px;
  }

  a:hover {
    background-color: white;
    border-radius: 3px;
    color: #034ea2;
    border-bottom: 2px solid #034ea2;
    border-radius: 0px;
  }

  .nav_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
  }
}

.dropdown {
  #dropdownMenuLink {
    font-weight: 500;
  }
  #dropdownMenuLink:focus {
    box-shadow: none !important;
  }
  .dropdown-menu {
    a:active {
      background-color: #008fd5 !important;
    }
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  // background: linear-gradient(to bottom, #074da2, #008fd5);
  background-color: #fafafa;

  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  // opacity: 0.97;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  color: #0186ce;
  display: block;
  transition: 0.3s;
  // border-bottom: 1px solid #0186ce;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #074da2;

  // border-radius: 3px;
  background-color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 0;
}

@media screen and (max-width: 992px) {
  .mobile_topbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: sticky;
    top: 0px;
    z-index: 100;
  }
  .top_bar {
    padding: 10px 0px;
    .company_logo {
      img {
        height: 80px;
      }
    }
  }
}

// footer

.subscribe_us_container {
  // background-image: url(../img/cover14.jpg);
  background-position: bottom;
  padding: 80px 0;
  position: relative;

  .gradient {
    // background: linear-gradient(90deg,#2D3954,rgba(39,16,102,0) 85%,rgba(39,16,102,0) 0,#2D3954);
    background-color: rgba(27, 175, 101, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  .subscribe_container {
    position: relative;
    z-index: 3;
    color: #2d3954;
    .subscribe_header {
      text-align: center;
      font-size: 30px;
      font-weight: 400;
      div:nth-child(2) {
        font-size: 15px;
        margin-top: 10px;
        font-weight: 300;
      }
    }
    .sup_form {
      text-align: center;
      margin-top: 30px;
      position: relative;
      .form-control {
        font-size: 16px;
        background-color: #ffffff;
        padding: 20px;
        height: 70px;
        border-radius: 2px;
      }
      .get_started_btn {
        a {
          position: absolute;
          padding: 14px 25px 14px;
          background-color: #008fd5;
          color: #ffffff;
          border-radius: 2px;
          bottom: 10px;
          right: 10px;
        }
      }
    }
  }
}

footer {
  padding-top: 60px;
  font-size: 14px;

  .footer_box {
    padding-bottom: 30px;

    .footer_logo {
      margin-bottom: 20px;
      img {
        height: 75px;
      }
    }
    .footer_header {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 17px;
      color: #2d3954;
      text-transform: capitalize;
    }
    .footer_list {
      line-height: 35px;
    }
  }

  .footer_address {
    color: #858b9f;
    font-size: 13px;
    font-weight: 400;
    div {
      margin-bottom: 10px;
    }
  }

  .footer_copyright {
    border-top: 1px solid #e9edf3;
    color: #000;
    line-height: 40px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    .mobile_links {
      ul {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0px;
        li {
          padding-right: 20px;
          font-size: 20px;
        }
      }
    }
  }

  .backtop {
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
    position: fixed;
    bottom: 16px;
    right: 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    background: #333c56;
    color: #fff;
    padding: 8px 12px;
  }
}

// index page

#index_page {
  .index_banner_container {
    color: white;
    position: relative;

    .index_banner_text_container {
      margin-left: 100px;
      max-width: 560px;
      padding: 200px 20px;
      position: relative;
      width: 100%;
      z-index: 3;
      div:nth-child(1) {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 13px;
      }
      div:nth-child(2) {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 33px;
      }
      a {
        font-weight: 700;
        background-color: #ffffff;
        border-radius: 2px;
        border: 0 solid transparent;
        color: #008fd5;
        font-size: 20px;
        outline: none;
        padding: 15px 70px;
        transition: background-color 0.2s;
      }
      a:hover {
        background-color: #008fd5;
        color: #fff;
      }
    }
    .index_banner_background_gradient {
      background: linear-gradient(
        90deg,
        #2d3954,
        rgba(39, 16, 102, 0) 85%,
        rgba(39, 16, 102, 0) 0,
        #2d3954
      );
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }
    .index_banner_background_image {
      background-image: url(../img/cover12.jpg);
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      background-size: cover;
      z-index: 1;
    }
  }

  @media screen and (max-width: 991px) {
    .index_banner_container {
      .index_banner_text_container {
        padding: 90px 20px;
        margin: 0 auto;
        // padding: 60px 20px 45px;
        text-align: center;
        div:nth-child(2) {
          font-size: 16px;
        }
      }
    }
  }

  .banner_box_container {
    position: relative;
    margin-top: -50px;
    z-index: 4;
    .trips_container {
      background-color: white;
      box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
      padding: 0px;
      border-radius: 15px;
      .trips {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 16px;

        .trips_icon {
          color: #008fd5;
          background: rgba(0, 186, 116, 0.1);
          border-radius: 50%;
          width: 55px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 15px;
          font-size: 13px;
        }
        .trips_details {
          .trips_details_header {
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            color: black;
          }
          .trips_details_para {
            line-height: 1.8;
            color: #647b9c;
            font-size: 14px;
          }
        }
      }
    }
  }

  .our_publication_container {
    margin: 80px 30px;
    .our_publication_header {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 50px;
      color: #2d3954;
    }
    .publication_container {
      background: rgba(0, 173, 182, 0.1);
      border-radius: 10px;
      margin-bottom: 25px;
      padding: 20px 16px;
      text-align: center;

      .book_icon {
        font-size: 70px;
        color: #008fd5;
      }
      .book_container_title {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 15px;
        color: #2d3954;
      }
      .book_container_text {
        color: #647b9c;
        margin-bottom: 20px;
      }
      .book_container_btn {
        span {
          color: #000;
          border-radius: 3px;
          padding: 7px 15px;
          border: 1px solid rgba(100, 123, 156, 0.3);
        }
      }
    }
    .publication_container:hover {
      border: 1px solid #034ea2;
      .book_container_title {
        color: #034ea2;
      }
      .book_container_btn {
        span {
          color: #034ea2;
          border-color: #034ea2;
        }
      }
    }
  }

  .our_package_container {
    background: #f4f5f7;
    padding: 80px 0;
    .our_package_header {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 50px;
      color: #2d3954;
    }
    .course_container {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 30px;
      transition: all ease 0.4s;
      border: 1px solid #e8ebf1;
      background: #ffffff;

      .course_title {
        font-size: 17px;
        margin-bottom: 10px;
        color: #2d3954;
        text-transform: capitalize;
        font-weight: 500;
        padding: 20px 20px 5px;
      }
      .course_info {
        padding: 0px 20px 20px 20px;
        ul {
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 0;
          li {
            font-size: 13px;
            color: #4a5874;
            i {
              margin-right: 4px;
            }
          }
        }
      }
      .course_price {
        border-top: 1px solid #f0f1f5;
        text-align: right;
        padding: 16px 24px;
        font-size: 25px;
        font-weight: 600;
        color: #2d3954;
      }
    }
    .course_container:hover {
      border: 1px solid #034ea2;
      .course_title {
        color: #034ea2;
      }
      .course_price {
        color: #034ea2;
      }
    }
  }

  .news_container {
    padding: 80px 0;
    .news_header {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 50px;
      color: #2d3954;
    }
    .article_container {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 30px;
      transition: all ease 0.4s;
      border: 1px solid #e8ebf1;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.075);
      .article_title {
        font-size: 17px;
        margin-bottom: 10px;
        color: #2d3954;
        text-transform: capitalize;
        font-weight: 500;
        padding: 20px 20px 5px;
      }
      .article_author {
        display: flex;
        align-items: center;
        padding: 16px;
        .image_container {
          width: 40px;
          border-radius: 50%;
          overflow: hidden;
          height: 40px;
          margin-right: 20px;
          img {
            border-radius: 50%;
          }
        }
      }
    }
  }
}

// Register page
#register_page {
  .page_title {
    padding: 20px 0;
    font-size: 52px;
    color: #2d3954;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
  }

  .signin_up_container {
    color: #2d3954;
    background-color: #f4f8fa;
    padding: 70px 0;

    .signin_container {
      padding: 32px;
      padding-top: 10px;
      border-radius: 10px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
      background-color: #ffffff;
      .sign_header {
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
      }
      .form-group {
        .form-control {
          height: 54px;
          border-radius: 4px;
          font-size: 14px;
          box-shadow: none;
          padding: 8px 12px;
          border: 1px solid #e6eaf3;
          background-clip: initial;
        }
        .signin {
          width: 100%;
          background-color: #00ba74;
          color: #ffffff;
          padding: 10px 12px;
          margin: 16px 0px;
        }
      }
      .social-login {
        input[type="checkbox"] {
          vertical-align: middle;
          width: 25px;
          height: 25px;
          // background:white;
          border-radius: 5px;
          border: 2px solid #555;
        }
        ul {
          display: flex;
          justify-content: space-between;
        }
        .forget_password {
          a {
            color: #da0b4e;
          }
        }
      }
    }
    .register_container {
      border-right: 1px solid black;
      text-align: center;
      padding: 40px 10px;
      margin-top: 120px;
      .register-header {
        font-size: 25px;
        margin-bottom: 30px;
      }
      .register-btn {
        a {
          background-color: #00ba74;
          color: #ffffff;
          padding: 10px 12px;
          margin: 16px 0px;
          border-radius: 5px;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .signin_up_container {
      padding-top: 0px;
      .register_container {
        margin-top: 0px;
        margin-bottom: 20px;
        border-right: none;
      }
    }
  }
}

// contact page
#contact_page {
  padding-top: 40px;
  .page_title {
    padding-bottom: 40px;
    font-size: 52px;
    color: #2d3954;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
  }
  .contactus_container {
    background-color: #f4f8fa;

    .contact_container {
      margin: 40px 0;
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
      .contact_header {
        font-size: 18px;
        padding: 10px;
        padding-left: 30px;
        margin-bottom: 10px;
        color: #2d3954;
        border-bottom: 1px solid #e7eff9;
      }
      form {
        padding: 15px 32px;
      }
      .form-group {
        .form-control {
          height: 54px;
          border-radius: 4px;
          font-size: 14px;
          box-shadow: none;
          padding: 8px 12px;
          border: 1px solid #e6eaf3;
          background-clip: initial;
        }
        .textarea {
          height: 100px;
        }
        .submit {
          width: 100%;
          background-color: #00ba74;
          color: #ffffff;
          padding: 10px 12px;
          margin-top: 16px;
        }
      }

      .reachus_container {
        padding: 15px 32px;
        .reachus_title {
          font-size: 20px;
          color: #2d3954;
          margin-bottom: 5px;
        }
        .address {
          font-size: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

// single page

#single_page {
  .detail_header_container {
    padding: 32px;
    .image_container {
      img {
        border-radius: 10px;
      }
    }
    .header {
      font-size: 30px;
      color: #2d3954;
      font-weight: 800;
      margin-bottom: 20px;
    }
    .description {
      line-height: 1.8;
      font-size: 15px;
      font-weight: 400;
    }
    .review {
      margin-top: 20px;
      color: #2d3954;
      span {
        color: #7baf17;
      }
    }
  }

  .course_container {
    padding: 40px 0;
    background-color: #f4f6f8;
    .course_content_container {
      margin-bottom: 40px;
      .course_content_header {
        font-size: 20px;
        border-bottom: 1px solid rgba(34, 36, 38, 0.15);
        margin-bottom: 20px;
        padding-bottom: 5px;
        font-weight: bold;
      }
      .course_module_container {
        padding: 30px;
        background-color: white;
        box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
        border: 1px solid rgba(34, 36, 38, 0.15);
        border-radius: 5px;
        .module_header {
          font-size: 18px;
          margin-bottom: 15px;
        }
        .module_list {
          font-size: 16px;
          margin-bottom: 40px;

          a {
            display: flex;
            justify-content: space-between;
            padding: 5px 0px;
            border-bottom: 1px solid rgba(34, 36, 38, 0.15);
            color: #6d6d6f;
            i {
              margin-right: 10px;
              font-size: 13px;
            }
          }
        }
        .course_description_container {
          .description_question {
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0px;
          }
        }
      }
    }

    .course_module_side_container {
      background-color: white;
      box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
      border: 1px solid rgba(34, 36, 38, 0.15);
      border-radius: 5px;
      margin-bottom: 20px;
      .author_container {
        display: flex;
        padding: 15px 20px;
        border-bottom: 1px solid #e6ebf5;
        align-items: center;
        margin-bottom: 16px;
        .image_container {
          width: 50px;
          height: 50px;
          border-radius: 5px;
          margin-right: 10px;
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            object-fit: cover;
          }
        }
        .author_box {
          font-size: 15px;
          margin-bottom: 0px;
          color: #24376f;
          line-height: 1.4;
        }
      }
      .price_container {
        padding-left: 24px;
        margin-bottom: 16px;
        span {
          font-size: 13px;
        }
        div {
          font-size: 30px;
          color: #da0b4e;
          font-weight: 800;
        }
      }
      .course_features {
        padding-left: 24px;
        margin-bottom: 16px;
        span {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 5px;
          display: inline-block;
          color: #485067;
        }
        li {
          margin-bottom: 10px;
          font-size: 14px;
          i {
            margin-right: 10px;
            color: #009688;
          }
        }
      }
      .enroll_btn {
        margin: 30px 0;
        text-align: center;
        a {
          padding: 12px 25px;
          background-color: #da0b4e;
          color: #ffffff;
          border-radius: 10px;
          font-weight: 600;
          i {
            margin-left: 10px;
          }
        }
      }

      .side_container_logo {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        color: #00ba74;
        img {
          height: 40px;
          width: 40px;
        }
      }
    }

    .similar_content_header {
      font-size: 20px;
      border-bottom: 1px solid rgba(34, 36, 38, 0.15);
      margin-bottom: 20px;
      padding-bottom: 5px;
      font-weight: bold;
    }
    .similar_content_container {
      background: #fff;
      padding: 0;
      border: none;
      border-radius: 0.25rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      transition: box-shadow 0.1s ease, transform 0.1s ease;
      .image_container {
        height: 160px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .text_container {
        padding: 10px;
        .text_container_header {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 5px;
        }
        .text_container_para {
          font-size: 12px;
          color: #6d6d6f;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #single_page {
    .detail_header_container {
      .image_container {
        margin-bottom: 20px;
      }
    }
    .similar_content_container {
      margin-bottom: 20px;
    }
  }
}

// packages page

#packages_page {
  .our_package_container {
    background: #f4f5f7;
    padding: 80px 0;
    .our_package_header {
      font-size: 30px;
      font-weight: 900;
      text-align: center;
      margin-bottom: 50px;
      color: #2d3954;
    }
    .course_container {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 30px;
      transition: all ease 0.4s;
      border: 1px solid #e8ebf1;
      background: #ffffff;

      .course_title {
        font-size: 17px;
        margin-bottom: 10px;
        color: #2d3954;
        text-transform: capitalize;
        font-weight: 600;
        padding: 20px 20px 5px;
      }
      .course_info {
        padding: 0px 20px 20px 20px;
        ul {
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 0;
          li {
            font-size: 13px;
            color: #4a5874;
            i {
              margin-right: 4px;
            }
          }
        }
      }
      .course_price {
        border-top: 1px solid #f0f1f5;
        text-align: right;
        padding: 16px 24px;
        font-size: 25px;
        font-weight: 900;
        color: #2d3954;
      }
    }
  }
}

//dashboard

#dashboard_page {
  background: #f4f5f7;
  .dashboard_navbar {
    padding: 32px;
    background: #fff;
    margin: 16px 0px;
    border-radius: 5px;
    // box-shadow: 0px 1px 4px 0px #252c41;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
    .d_user {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 32px 0;
      .image_container {
        width: 120px;
        height: 120px;
        margin-bottom: 8px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 20%;
          object-fit: cover;
        }
      }
      .user_name {
        margin: 10px 0 3px 0;
        font-size: 17px;
      }
      span {
        font-size: 14px;
      }
    }
    .d_navigation {
      font-size: 14px;
      ul {
        li {
          a {
            i {
              margin-right: 10px;
            }
            width: 100%;
            color: #77829e;
            font-size: 14px;
            border-radius: 5px;
            padding: 14px 15px;
            display: inline-block;
          }
        }
        .active > a {
          color: #ffffff !important;
          // background: #da0b4e;
          // background-color: rgba(27, 175, 101, 0.1);
          background-color: #00ba74;
        }
      }
    }
  }
  .dashboard_content {
    .d_breadcrumb {
      padding: 16px;
      margin: 16px;
      list-style: none;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
      ul {
        margin-bottom: 0px;
        display: flex;
        li {
          font-size: 13px;
          margin-right: 10px;
        }
        .active > a {
          // color: #da0b4e;
          color: #00ba74;
        }
      }
    }
  }
  .d_widget_container_box {
    margin: 0 16px;
    .d_widget_container {
      border-radius: 10px;
      text-align: center;
      padding: 50px 0;
      margin-bottom: 16px;
    }
    .widget_1 {
      background-color: rgba(27, 175, 101, 0.1);
      color: #1baf65;
    }
    .widget_2 {
      background-color: rgba(243, 159, 0, 0.1);
      color: #f39f00;
    }
    .widget_3 {
      background-color: rgba(206, 2, 75, 0.1);
      color: #ce024b;
    }
  }
  .course_container {
    margin: 0px 16px;
    .image_container {
      margin-bottom: 20px;
      height: 200px;
      width: 100%;
      img {
        height: 100%;
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
      }
    }
    .notification_container {
      margin-bottom: 30px;
      border: none;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
      border-radius: 5px;
      overflow: hidden;
      background-color: #ffffff;
      .n_header {
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        color: #4a5682;
      }
      .n_list {
        padding: 16px 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eaeff5;
        .n_list_icon {
          margin: 0 20px;
        }

        .n_list_text {
          font-size: 10px;
        }
        .n_list_name {
          font-size: 14px;
          color: #4a5682;
        }
      }
    }
  }
}

// product page
// aside

aside {
  .aside_header {
    padding: 10px;
    margin-top: 20px;
    // background: linear-gradient(45deg,#074da2, #0186ce);
    border: 1px solid #0186ce;
    color: #0186ce;
  }
  .aside_header:hover {
    background-color: #074da2;
    color: white;
    border: none;
  }

  .aside_drop {
    padding: 10px;
    color: #6d6d6f;
    border-bottom: 1px solid #6d6d6f;
    display: flex;
    justify-content: space-between;

    span:nth-child(2) {
      color: #0186ce;
      cursor: pointer;
    }
  }

  .dropicon {
    cursor: pointer;
    color: #0186ce;
  }

  .aside_list {
    padding: 4px;
    padding-left: 25px;
    border-bottom: 1px solid #6d6d6f;
    display: flex;
    justify-content: space-between;
  }

  .aside_drop1 {
    padding: 10px;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(45deg, #074da2, #0186ce);
    border-image-slice: 1;
    color: #6d6d6f;
    display: flex;
    justify-content: space-between;

    span:nth-child(2) {
      color: #0186ce;
      cursor: pointer;
    }
  }
}

// breadcrum

.bread {
  display: flex;
  padding: 10px;
  // background-color: grey;
  margin-top: 20px;
  // margin-bottom: 35px;

  li {
    margin: 0px 10px;
  }
  a {
    color: #6d6d6f;
  }
  border-bottom: 1px solid grey;
}

.book_filter {
  display: none;
}

// main

.book_list {
  font-size: 14px;
  margin: 20px 10px 40px 10px;

  .book_img {
    text-align: center;
  }
  .book_price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #6d6d6f;

    span {
      color: #074da2;
    }
  }

  .book_description {
    text-align: center;
    margin-top: 7px;
    line-height: 17px;
    color: #6d6d6f;
  }

  .book_button {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 12px;

    // .btn_explore {
    //     border: 1px solid black;
    //     line-height: 2em;
    //     padding: 0px 1em;
    // }
    .btn_like {
      color: #0186ce;
      font-size: 20px;
    }
    .btn_like:hover {
      color: #074da2;
    }
    .btn_addcart {
      background-color: white;
      text-align: center;
      border-radius: 2px;
      color: #0186ce;
      padding: 7px;
      border: 1px solid #0186ce;
    }
    .btn_addcart:hover {
      background-color: #074da2;
      color: white;
    }
  }
}

// banner

.banner {
  background: linear-gradient(45deg, #074da2, #008fd5);
  padding: 40px 0;

  .banner_heading1 {
    font-size: 2em;
    color: white;
  }
  .banner_heading2 {
    font-size: 2em;
    color: white;
  }
  .banner_discription {
    color: white;
    margin-top: 10px;
  }
  .banner_btn {
    margin-top: 30px;

    a {
      border: 1px solid white;
      border-radius: 5px;
      padding: 10px 25px;
      color: white;
    }
    a:hover {
      background-color: #008cd3;
      color: white;
      border-color: white;
    }
  }

  .qr_code {
    text-align: center;
  }

  .qr_download {
    color: white;
    font-size: 1.5em;
    text-align: center;
  }
  .badge {
    display: flex;
    justify-content: center;

    img {
      width: 150px;
    }
    .google_play {
      height: 70px;
      margin-top: -4px;
      width: 170px;
    }
  }
}

// follow

.payment_method {
  background-color: white;
  padding: 20px 0;
  .payment {
    text-align: center;
    border-right: 2px solid #6d6d6f;
    .payment_header {
      font-size: 1.5em;
      padding: 0px 0 55px 0;
      margin-top: 30px;
    }
    .payment_links {
      display: flex;
      justify-content: space-around;

      .links_logo img {
        width: 100px;
      }
    }
  }

  .follow {
    border-right: 2px solid #6d6d6f;
    .follow_header {
      text-align: center;
      font-size: 1.5em;
      text-align: center;
      padding: 0px 0 55px 0;
      margin-top: 30px;
      line-height: 30px;
    }

    .follow_links {
      display: flex;
      justify-content: space-around;
      padding: 0;

      a {
        color: #008fd5;
        font-size: 20px;
      }
      a:hover {
        color: #074da2;
      }
    }
  }

  .subscribe_us {
    .subscribe_header {
      font-size: 1.5em;
      text-align: center;
      padding: 0px 0 55px 0;
      margin-top: 30px;
      line-height: 30px;
    }
    .email_us {
      display: flex;
      justify-content: center;

      input {
        border: none;
        border-bottom: 1px solid #6d6d6f;
        margin-bottom: 30px;
      }
      .input_email:focus {
        outline: none;
      }
      .subscribe_btn {
        a {
          color: #0186ce;
          border: 1px solid #0186ce;
          border-radius: 5px;
          padding: 10px 20px;
          margin-left: 10px;
        }
        a:hover {
          background-color: #074da2;
          color: white;
        }
      }
    }
  }
}

// footer

//  books_video Page

.books_video_container {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  text-align: center;
  padding: 40px 0px 30px 0;
  background-color: white;
  margin-top: 30px;

  .nav {
    display: flex;
    justify-content: space-around;
    border: none;

    a {
      border: none;
      // background-color: #fafafa;
    }
    a.active {
      border-bottom: 2px solid #6d6d6f;
    }
  }
}

.book_list_container {
  padding: 40px 10px;
  background-color: white;
  margin-bottom: 30px;
  .book_list_title {
    font-size: 16px;
    color: #2c87f0;
    border-bottom: 1px solid #6d6d6f;
    display: inline-block;
  }
  .book_list_list {
    font-size: 14px;
    padding: 10px 0px 20px 0px;
  }
}

// my_account

.myaccount_body {
  background-color: #ffffff;
}

.my_account_header_cont {
  background-color: #0186ce;
  text-align: center;
  color: white;
  padding: 10px 0;

  .my_account_header {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .myaccount_bread {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 5px;
    div {
      padding: 0 5px;
    }
  }
}

.myaccount_tab_header {
  border-bottom: 1px solid #6d6d6f;
  color: white !important;
  margin-top: 20px;

  #pills-tab {
    margin: 0 !important;
    a {
      padding: 12px 18px;
      border-radius: 0px;
      color: #53565a;
      font-size: 14px;
    }
    a.active {
      color: black;
      background-color: white;
      border-bottom: 2px solid #074da2;

      font-weight: bold;
    }
    a:hover {
      border-bottom: 2px solid #074da2;
      color: black;
      // transition: all .4s ease;
    }
  }
  .nav-pills .nav-link.active {
    background-color: none;
  }
}

.myaccount_dashboard_header {
  font-size: 14px;
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 10px 10px;

  span {
    font-weight: bold;
  }
  a {
    border-bottom: 1px solid #c7c7c7;
  }
}

.dashboard_box_container {
  margin-top: 40px;

  .dashboard_box {
    text-align: center;
    border: 1px solid rgba(136, 136, 136, 0.12);
    padding: 10px 0px;
    text-transform: uppercase;
    color: rgba(71, 71, 71, 0.8);
    font-size: 14px;
    margin-bottom: 15px;
  }
  .dashboard_box:hover {
    background-color: #f9f9f9;
  }

  .dashboard_box_icon {
    font-size: 50px;
    color: #d0d0d0;
  }
  .dashboard_box_icon:hover {
    color: #0186ce;
  }
}

//single book

.singlebook_container {
  background-color: white;
  padding: 20px 20px;
  margin: 0px;
  margin-bottom: 20px;
}

.singlebook_image {
  .singlebook_image_cont {
    overflow: hidden;
    height: 330px;
    width: 330px;
    text-align: center;

    img {
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }
  }
}

.singlebook_multi_image_cont {
  width: 52px;
  height: 52px;
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  border: 1px solid #dadada;
  border-radius: 2px;
  text-align: center;

  img {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    margin: auto;
  }
}

.singlebook_detail {
  margin-left: 20px;
  .singlebook_title {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  .singlebook_author {
    color: #6d6d6f;
    margin-bottom: 20px;
    text-transform: initial;
    font-size: 12px;
  }
  .singlebook_description {
    color: #6d6d6f;
    margin-bottom: 40px;
  }
  .singlebook_price {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
    color: #074da2;
    border-bottom: 1px solid #6d6d6f;
  }

  .singlebook_btn {
    a {
      border-radius: 5px;
      padding: 10px 20px;
      margin-right: 20px;
      border: 1px solid #0186ce;
      color: #0186ce;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
    a:hover {
      background-color: #074da2;
      color: white;
    }
  }
}

// media

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  nav {
    display: none;
  }

  .bread_container {
    display: none;
  }
  .links_container {
    display: none;
  }

  .mobile_topbar {
    display: none;
  }

  .topbar_sear {
    display: none;
  }
  .topbar_search {
    display: none;
    text-align: center;
    padding: 10px;
    input {
      padding: 8px;
      width: 95%;
      border: none;
      border: 1px solid #2c87f0;
      border-radius: 3px;
      // margin-right: -36px;
    }
    .nav_search {
      background-color: #2c87f0;
      color: white;
      padding: 7px 15px;
      border-radius: 3px;
      margin-left: -50px;
    }
  }

  .cart_container {
    display: none;
    a {
      font-size: 20px;
    }

    .cart_hid {
      display: none;
    }
  }

  .menu_burger {
    display: block;
    font-size: 18px;
    i {
      color: #2d3954;
    }
    a:hover {
      color: #2c87f0;
    }
  }

  .asider {
    display: none;
  }

  .book_filter {
    display: block;
    margin-top: 15px;
    justify-content: space-between;
    .filter_title {
      a {
        padding: 5px;
        color: #2c87f0;
        border-radius: 5px;
        border: 1px solid #2c87f0;
        // background: linear-gradient(45deg,#ec2c43, #f5921d);
      }

      a:hover {
        color: #2c87f0;
        border-color: #2c87f0;
      }
    }
  }

  .book_list {
    font-size: 12px;
    .book_button {
      font-size: 10px;
    }
  }

  .banner {
    .badge {
      display: block;
      .google_play {
        margin-left: -10px;
      }
    }
  }

  .payment_method {
    .payment {
      border-right: none;
      border-bottom: 2px solid #6d6d6f;
    }
    .follow {
      border-right: none;
      border-bottom: 2px solid #6d6d6f;
    }
    .payment_links {
      margin-bottom: 10px;
    }
  }

  footer {
    .footer_logo {
      text-align: center;
      margin-bottom: 20px;
    }

    #footer_list_category {
      display: none;
    }
  }

  //home page

  .banner_image {
    height: 100%;
    div {
      font-size: 30px;
    }
  }
}
