@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #647b9c;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: #647b9c;
}

ul {
  padding: 0px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #008fd5;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #f5f5f5;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 90px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid #c9c9c9;
  line-height: 35px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #000;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border-bottom: none;
}

.subscribe_us_container {
  background-position: bottom;
  padding: 80px 0;
  position: relative;
}

.subscribe_us_container .gradient {
  background-color: rgba(27, 175, 101, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.subscribe_us_container .subscribe_container {
  position: relative;
  z-index: 3;
  color: #2d3954;
}

.subscribe_us_container .subscribe_container .subscribe_header {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.subscribe_us_container .subscribe_container .subscribe_header div:nth-child(2) {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 300;
}

.subscribe_us_container .subscribe_container .sup_form {
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.subscribe_us_container .subscribe_container .sup_form .form-control {
  font-size: 16px;
  background-color: #ffffff;
  padding: 20px;
  height: 70px;
  border-radius: 2px;
}

.subscribe_us_container .subscribe_container .sup_form .get_started_btn a {
  position: absolute;
  padding: 14px 25px 14px;
  background-color: #008fd5;
  color: #ffffff;
  border-radius: 2px;
  bottom: 10px;
  right: 10px;
}

footer {
  padding-top: 60px;
  font-size: 14px;
}

footer .footer_box {
  padding-bottom: 30px;
}

footer .footer_box .footer_logo {
  margin-bottom: 20px;
}

footer .footer_box .footer_logo img {
  height: 75px;
}

footer .footer_box .footer_header {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 17px;
  color: #2d3954;
  text-transform: capitalize;
}

footer .footer_box .footer_list {
  line-height: 35px;
}

footer .footer_address {
  color: #858b9f;
  font-size: 13px;
  font-weight: 400;
}

footer .footer_address div {
  margin-bottom: 10px;
}

footer .footer_copyright {
  border-top: 1px solid #e9edf3;
  color: #000;
  line-height: 40px;
  padding: 15px;
  text-align: center;
  font-size: 14px;
}

footer .footer_copyright .mobile_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0px;
}

footer .footer_copyright .mobile_links ul li {
  padding-right: 20px;
  font-size: 20px;
}

footer .backtop {
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 16px;
  right: 20px;
  text-align: center;
  font-size: 15px;
  border-radius: 4px;
  background: #333c56;
  color: #fff;
  padding: 8px 12px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

#index_page .banner .navbar-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  right: 0px;
}

#index_page .banner .navbar-wrapper .primary-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

#index_page .banner .navbar-wrapper .primary-navbar .bars {
  font-size: 30px;
  line-height: 60px;
  color: #8c8989;
}

#index_page .banner .navbar-wrapper .primary-navbar .logo-container {
  height: 90px;
}

#index_page .banner .navbar-wrapper .primary-navbar .logo-container img {
  height: 100%;
}

#index_page .banner .navbar-wrapper .primary-navbar .primary-content .first-navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  margin-bottom: 10px;
}

#index_page .banner .navbar-wrapper .primary-navbar .primary-content .first-navbar-wrapper li {
  padding: 0px 10px;
  font-weight: 500px;
}

#index_page .banner .navbar-wrapper .primary-navbar .primary-content .first-navbar-wrapper li i {
  font-size: 13px;
  margin-right: 5px;
  color: #ffffff;
}

#index_page .banner .navbar-wrapper .primary-navbar .primary-content .first-navbar-wrapper li a {
  font-size: 13px;
  color: #ffffff;
}

#index_page .banner .navbar-wrapper .primary-navbar .primary-content .first-navbar-wrapper li .search-bar {
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  border: none;
  display: none;
}

#index_page .banner .navbar-wrapper .primary-navbar .primary-content .first-navbar-wrapper li .search-bar:focus {
  outline: none;
}

#index_page .banner .navbar-wrapper .primary-navbar .primary-content .second-navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
}

#index_page .banner .navbar-wrapper .primary-navbar .primary-content .second-navbar-wrapper li {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

#index_page .banner .navbar-wrapper .primary-navbar .primary-content .second-navbar-wrapper li a {
  padding: 0px 15px;
  color: #ffffff;
}

#index_page .banner .slider-wrapper .slick-prev {
  left: 30px;
  z-index: 9;
}

#index_page .banner .slider-wrapper .slick-prev::before {
  color: #008fd5;
  font-size: 30px;
}

#index_page .banner .slider-wrapper .slick-next {
  right: 30px;
}

#index_page .banner .slider-wrapper .slick-next::before {
  color: #008fd5;
  font-size: 30px;
}

#index_page .banner .slider-wrapper .slider {
  height: 90vh;
  overflow: hidden;
  position: relative;
}

#index_page .banner .slider-wrapper .overlay-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index_page .banner .slider-wrapper .overlay-container .title {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

#index_page .banner .slider-wrapper .overlay-container .subtitle {
  font-size: 18px;
  font-weight: lighter;
  color: white;
  width: 60%;
}

@media screen and (max-width: 992px) {
  #index_page .banner {
    height: calc(100vh - 160px);
  }
  #index_page .banner .navbar-wrapper {
    padding: 0px 10px;
  }
  #index_page .banner .navbar-wrapper .primary-navbar .logo-container {
    height: 60px;
  }
  #index_page .banner .navbar-wrapper .primary-content {
    display: none;
  }
  #index_page .banner .slider-wrapper .slick-prev,
  #index_page .banner .slider-wrapper .slick-next {
    display: none !important;
  }
  #index_page .banner .slider-wrapper .slick-slide img {
    height: calc(100vh - 160px);
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #index_page .banner .slider-wrapper .overlay-container {
    top: 0px;
  }
  #index_page .banner .slider-wrapper .overlay-container .title {
    font-size: 28px;
    margin-bottom: 5px;
    text-shadow: 0px 3px 5px #403f3f;
    letter-spacing: 1px;
  }
  #index_page .banner .slider-wrapper .overlay-container .subtitle {
    font-size: 16px;
    width: 100%;
  }
}

#index_page .banner_box_container {
  position: relative;
  margin-top: -50px;
  z-index: 4;
}

#index_page .banner_box_container .trips_container {
  background-color: white;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  padding: 0px;
  border-radius: 15px;
}

#index_page .banner_box_container .trips_container .trips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 16px;
}

#index_page .banner_box_container .trips_container .trips .trips_icon {
  color: #008fd5;
  background: rgba(0, 186, 116, 0.1);
  border-radius: 50%;
  width: 55px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  font-size: 13px;
}

#index_page .banner_box_container .trips_container .trips .trips_details .trips_details_header {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: black;
}

#index_page .banner_box_container .trips_container .trips .trips_details .trips_details_para {
  line-height: 1.8;
  color: #647b9c;
  font-size: 14px;
}

#index_page .our_publication_container {
  margin: 80px 30px;
}

#index_page .our_publication_container .our_publication_header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  color: #2d3954;
}

#index_page .our_publication_container .publication_container {
  background: rgba(0, 173, 182, 0.1);
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 20px 16px;
  text-align: center;
}

#index_page .our_publication_container .publication_container .book_icon {
  font-size: 70px;
  color: #008fd5;
}

#index_page .our_publication_container .publication_container .book_container_title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #2d3954;
}

#index_page .our_publication_container .publication_container .book_container_text {
  color: #647b9c;
  margin-bottom: 20px;
}

#index_page .our_publication_container .publication_container .book_container_btn span {
  color: #000;
  border-radius: 3px;
  padding: 7px 15px;
  border: 1px solid rgba(100, 123, 156, 0.3);
}

#index_page .our_publication_container .publication_container:hover {
  border: 1px solid #034ea2;
}

#index_page .our_publication_container .publication_container:hover .book_container_title {
  color: #034ea2;
}

#index_page .our_publication_container .publication_container:hover .book_container_btn span {
  color: #034ea2;
  border-color: #034ea2;
}

#index_page .our_package_container {
  background: #f4f5f7;
  padding: 80px 0;
}

#index_page .our_package_container .our_package_header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  color: #2d3954;
}

#index_page .our_package_container .course_container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  border: 1px solid #e8ebf1;
  background: #ffffff;
}

#index_page .our_package_container .course_container .course_title {
  font-size: 17px;
  margin-bottom: 10px;
  color: #2d3954;
  text-transform: capitalize;
  font-weight: 500;
  padding: 20px 20px 5px;
}

#index_page .our_package_container .course_container .course_info {
  padding: 0px 20px 20px 20px;
}

#index_page .our_package_container .course_container .course_info ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
}

#index_page .our_package_container .course_container .course_info ul li {
  font-size: 13px;
  color: #4a5874;
}

#index_page .our_package_container .course_container .course_info ul li i {
  margin-right: 4px;
}

#index_page .our_package_container .course_container .course_price {
  border-top: 1px solid #f0f1f5;
  text-align: right;
  padding: 16px 24px;
  font-size: 25px;
  font-weight: 600;
  color: #2d3954;
}

#index_page .our_package_container .course_container:hover {
  border: 1px solid #034ea2;
}

#index_page .our_package_container .course_container:hover .course_title {
  color: #034ea2;
}

#index_page .our_package_container .course_container:hover .course_price {
  color: #034ea2;
}

#index_page .news_container {
  padding: 80px 0;
}

#index_page .news_container .news_header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  color: #2d3954;
}

#index_page .news_container .article_container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  border: 1px solid #e8ebf1;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.075);
}

#index_page .news_container .article_container .article_title {
  font-size: 17px;
  margin-bottom: 10px;
  color: #2d3954;
  text-transform: capitalize;
  font-weight: 500;
  padding: 20px 20px 5px;
}

#index_page .news_container .article_container .article_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

#index_page .news_container .article_container .article_author .image_container {
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  margin-right: 20px;
}

#index_page .news_container .article_container .article_author .image_container img {
  border-radius: 50%;
}

#register_page .page_title {
  padding: 20px 0;
  font-size: 52px;
  color: #2d3954;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
}

#register_page .signin_up_container {
  color: #2d3954;
  background-color: #f4f8fa;
  padding: 70px 0;
}

#register_page .signin_up_container .signin_container {
  padding: 32px;
  padding-top: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}

#register_page .signin_up_container .signin_container .sign_header {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

#register_page .signin_up_container .signin_container .form-group .form-control {
  height: 54px;
  border-radius: 4px;
  font-size: 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 8px 12px;
  border: 1px solid #e6eaf3;
  background-clip: initial;
}

#register_page .signin_up_container .signin_container .form-group .signin {
  width: 100%;
  background-color: #00ba74;
  color: #ffffff;
  padding: 10px 12px;
  margin: 16px 0px;
}

#register_page .signin_up_container .signin_container .social-login input[type="checkbox"] {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 2px solid #555;
}

#register_page .signin_up_container .signin_container .social-login ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#register_page .signin_up_container .signin_container .social-login .forget_password a {
  color: #da0b4e;
}

#register_page .signin_up_container .register_container {
  border-right: 1px solid black;
  text-align: center;
  padding: 40px 10px;
  margin-top: 120px;
}

#register_page .signin_up_container .register_container .register-header {
  font-size: 25px;
  margin-bottom: 30px;
}

#register_page .signin_up_container .register_container .register-btn a {
  background-color: #00ba74;
  color: #ffffff;
  padding: 10px 12px;
  margin: 16px 0px;
  border-radius: 5px;
}

@media screen and (max-width: 991px) {
  #register_page .signin_up_container {
    padding-top: 0px;
  }
  #register_page .signin_up_container .register_container {
    margin-top: 0px;
    margin-bottom: 20px;
    border-right: none;
  }
}

#contact_page {
  padding-top: 40px;
}

#contact_page .page_title {
  padding-bottom: 40px;
  font-size: 52px;
  color: #2d3954;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
}

#contact_page .contactus_container {
  background-color: #f4f8fa;
}

#contact_page .contactus_container .contact_container {
  margin: 40px 0;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
}

#contact_page .contactus_container .contact_container .contact_header {
  font-size: 18px;
  padding: 10px;
  padding-left: 30px;
  margin-bottom: 10px;
  color: #2d3954;
  border-bottom: 1px solid #e7eff9;
}

#contact_page .contactus_container .contact_container form {
  padding: 15px 32px;
}

#contact_page .contactus_container .contact_container .form-group .form-control {
  height: 54px;
  border-radius: 4px;
  font-size: 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 8px 12px;
  border: 1px solid #e6eaf3;
  background-clip: initial;
}

#contact_page .contactus_container .contact_container .form-group .textarea {
  height: 100px;
}

#contact_page .contactus_container .contact_container .form-group .submit {
  width: 100%;
  background-color: #00ba74;
  color: #ffffff;
  padding: 10px 12px;
  margin-top: 16px;
}

#contact_page .contactus_container .contact_container .reachus_container {
  padding: 15px 32px;
}

#contact_page .contactus_container .contact_container .reachus_container .reachus_title {
  font-size: 20px;
  color: #2d3954;
  margin-bottom: 5px;
}

#contact_page .contactus_container .contact_container .reachus_container .address {
  font-size: 15px;
  margin-bottom: 15px;
}

#single_page .detail_header_container {
  padding: 32px;
}

#single_page .detail_header_container .image_container img {
  border-radius: 10px;
}

#single_page .detail_header_container .header {
  font-size: 30px;
  color: #2d3954;
  font-weight: 800;
  margin-bottom: 20px;
}

#single_page .detail_header_container .description {
  line-height: 1.8;
  font-size: 15px;
  font-weight: 400;
}

#single_page .detail_header_container .review {
  margin-top: 20px;
  color: #2d3954;
}

#single_page .detail_header_container .review span {
  color: #7baf17;
}

#single_page .course_container {
  padding: 40px 0;
  background-color: #f4f6f8;
}

#single_page .course_container .course_content_container {
  margin-bottom: 40px;
}

#single_page .course_container .course_content_container .course_content_header {
  font-size: 20px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

#single_page .course_container .course_content_container .course_module_container {
  padding: 30px;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
          box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 5px;
}

#single_page .course_container .course_content_container .course_module_container .module_header {
  font-size: 18px;
  margin-bottom: 15px;
}

#single_page .course_container .course_content_container .course_module_container .module_list {
  font-size: 16px;
  margin-bottom: 40px;
}

#single_page .course_container .course_content_container .course_module_container .module_list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  color: #6d6d6f;
}

#single_page .course_container .course_content_container .course_module_container .module_list a i {
  margin-right: 10px;
  font-size: 13px;
}

#single_page .course_container .course_content_container .course_module_container .course_description_container .description_question {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
}

#single_page .course_container .course_module_side_container {
  background-color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
          box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 5px;
  margin-bottom: 20px;
}

#single_page .course_container .course_module_side_container .author_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  border-bottom: 1px solid #e6ebf5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

#single_page .course_container .course_module_side_container .author_container .image_container {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  overflow: hidden;
}

#single_page .course_container .course_module_side_container .author_container .image_container img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

#single_page .course_container .course_module_side_container .author_container .author_box {
  font-size: 15px;
  margin-bottom: 0px;
  color: #24376f;
  line-height: 1.4;
}

#single_page .course_container .course_module_side_container .price_container {
  padding-left: 24px;
  margin-bottom: 16px;
}

#single_page .course_container .course_module_side_container .price_container span {
  font-size: 13px;
}

#single_page .course_container .course_module_side_container .price_container div {
  font-size: 30px;
  color: #da0b4e;
  font-weight: 800;
}

#single_page .course_container .course_module_side_container .course_features {
  padding-left: 24px;
  margin-bottom: 16px;
}

#single_page .course_container .course_module_side_container .course_features span {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
  color: #485067;
}

#single_page .course_container .course_module_side_container .course_features li {
  margin-bottom: 10px;
  font-size: 14px;
}

#single_page .course_container .course_module_side_container .course_features li i {
  margin-right: 10px;
  color: #009688;
}

#single_page .course_container .course_module_side_container .enroll_btn {
  margin: 30px 0;
  text-align: center;
}

#single_page .course_container .course_module_side_container .enroll_btn a {
  padding: 12px 25px;
  background-color: #da0b4e;
  color: #ffffff;
  border-radius: 10px;
  font-weight: 600;
}

#single_page .course_container .course_module_side_container .enroll_btn a i {
  margin-left: 10px;
}

#single_page .course_container .course_module_side_container .side_container_logo {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #00ba74;
}

#single_page .course_container .course_module_side_container .side_container_logo img {
  height: 40px;
  width: 40px;
}

#single_page .course_container .similar_content_header {
  font-size: 20px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

#single_page .course_container .similar_content_container {
  background: #fff;
  padding: 0;
  border: none;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
          box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  -webkit-transition: -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
}

#single_page .course_container .similar_content_container .image_container {
  height: 160px;
}

#single_page .course_container .similar_content_container .image_container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#single_page .course_container .similar_content_container .text_container {
  padding: 10px;
}

#single_page .course_container .similar_content_container .text_container .text_container_header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

#single_page .course_container .similar_content_container .text_container .text_container_para {
  font-size: 12px;
  color: #6d6d6f;
}

@media screen and (max-width: 991px) {
  #single_page .detail_header_container .image_container {
    margin-bottom: 20px;
  }
  #single_page .similar_content_container {
    margin-bottom: 20px;
  }
}

#packages_page .our_package_container {
  background: #f4f5f7;
  padding: 80px 0;
}

#packages_page .our_package_container .our_package_header {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
  color: #2d3954;
}

#packages_page .our_package_container .course_container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  border: 1px solid #e8ebf1;
  background: #ffffff;
}

#packages_page .our_package_container .course_container .course_title {
  font-size: 17px;
  margin-bottom: 10px;
  color: #2d3954;
  text-transform: capitalize;
  font-weight: 600;
  padding: 20px 20px 5px;
}

#packages_page .our_package_container .course_container .course_info {
  padding: 0px 20px 20px 20px;
}

#packages_page .our_package_container .course_container .course_info ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
}

#packages_page .our_package_container .course_container .course_info ul li {
  font-size: 13px;
  color: #4a5874;
}

#packages_page .our_package_container .course_container .course_info ul li i {
  margin-right: 4px;
}

#packages_page .our_package_container .course_container .course_price {
  border-top: 1px solid #f0f1f5;
  text-align: right;
  padding: 16px 24px;
  font-size: 25px;
  font-weight: 900;
  color: #2d3954;
}

#dashboard_page {
  background: #f4f5f7;
}

#dashboard_page .dashboard_navbar {
  padding: 32px;
  background: #fff;
  margin: 16px 0px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
}

#dashboard_page .dashboard_navbar .d_user {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0;
}

#dashboard_page .dashboard_navbar .d_user .image_container {
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
}

#dashboard_page .dashboard_navbar .d_user .image_container img {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  -o-object-fit: cover;
     object-fit: cover;
}

#dashboard_page .dashboard_navbar .d_user .user_name {
  margin: 10px 0 3px 0;
  font-size: 17px;
}

#dashboard_page .dashboard_navbar .d_user span {
  font-size: 14px;
}

#dashboard_page .dashboard_navbar .d_navigation {
  font-size: 14px;
}

#dashboard_page .dashboard_navbar .d_navigation ul li a {
  width: 100%;
  color: #77829e;
  font-size: 14px;
  border-radius: 5px;
  padding: 14px 15px;
  display: inline-block;
}

#dashboard_page .dashboard_navbar .d_navigation ul li a i {
  margin-right: 10px;
}

#dashboard_page .dashboard_navbar .d_navigation ul .active > a {
  color: #ffffff !important;
  background-color: #00ba74;
}

#dashboard_page .dashboard_content .d_breadcrumb {
  padding: 16px;
  margin: 16px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
}

#dashboard_page .dashboard_content .d_breadcrumb ul {
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#dashboard_page .dashboard_content .d_breadcrumb ul li {
  font-size: 13px;
  margin-right: 10px;
}

#dashboard_page .dashboard_content .d_breadcrumb ul .active > a {
  color: #00ba74;
}

#dashboard_page .d_widget_container_box {
  margin: 0 16px;
}

#dashboard_page .d_widget_container_box .d_widget_container {
  border-radius: 10px;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 16px;
}

#dashboard_page .d_widget_container_box .widget_1 {
  background-color: rgba(27, 175, 101, 0.1);
  color: #1baf65;
}

#dashboard_page .d_widget_container_box .widget_2 {
  background-color: rgba(243, 159, 0, 0.1);
  color: #f39f00;
}

#dashboard_page .d_widget_container_box .widget_3 {
  background-color: rgba(206, 2, 75, 0.1);
  color: #ce024b;
}

#dashboard_page .course_container {
  margin: 0px 16px;
}

#dashboard_page .course_container .image_container {
  margin-bottom: 20px;
  height: 200px;
  width: 100%;
}

#dashboard_page .course_container .image_container img {
  height: 100%;
  border-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#dashboard_page .course_container .notification_container {
  margin-bottom: 30px;
  border: none;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
}

#dashboard_page .course_container .notification_container .n_header {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: #4a5682;
}

#dashboard_page .course_container .notification_container .n_list {
  padding: 16px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eaeff5;
}

#dashboard_page .course_container .notification_container .n_list .n_list_icon {
  margin: 0 20px;
}

#dashboard_page .course_container .notification_container .n_list .n_list_text {
  font-size: 10px;
}

#dashboard_page .course_container .notification_container .n_list .n_list_name {
  font-size: 14px;
  color: #4a5682;
}
/*# sourceMappingURL=style.css.map */